{{#if products}}
    {{#each products}}
        <div class="card-checkout-preview">
            <div class="card-checkout-preview__image-container">
                <img src="{{this.image}}" alt="Producto" class="card-checkout-preview__image" />
            </div>
            <input type="hidden" name="stocks" id="stocks" class="stocks" value="{{this.stock}}" />
            <div class="card-checkout-preview__content">
                <p class="card-checkout-preview__description">{{this.productName}}</p>
                <div class="qty-selector-container">
                    <button class="qty-selector-container__btn-minus" {{#compare this.qty "<=" 1}} disabled {{/compare}}>-</button>
                    <input type="text" class="qty-selector-container__qty" value="{{this.qty}}" readonly />
                    <button class="qty-selector-container__btn-plus" {{#compare this.qty ">=" this.stock}} disabled {{/compare}}>+</button>
                </div>
            </div>
            <div class="card-checkout-preview__price">
                <span class="card-checkout-preview__price__price-currency">Precio: $<span class="card-checkout-preview__price__price-value">{{discount this.price this.discountPercent}}</span>
                </span>
                <span class="card-checkout-preview__price__sub-price-currency">Subtotal: $<span class="card-checkout-preview__price__price-subtotal"
                    >{{finalPrice this.price this.discountPercent this.qty}}</span>
                </span>
            </div>
            <i class="fa fa-trash-o" aria-hidden="true" data-id="{{this.id}}"></i>
        </div>
    {{/each}}
{{else}}
    <h2 data-lang="cart-preview-empty-cart">Tu carrito está vacío</h2>
    <p>¯\_(ツ)_/¯</p> 
{{/if}}