{{#if products}}
    {{#listItems 0 10 products}}
        {{#compare this.stock ">=" 1}}
            <div class="card">
                <input type="hidden" name="stockh" id="stockh" class="stockh" value="{{this.stock}}" />
                <a href="#" class="card__link" data-id="{{this.id}}">Agregar al carrito</a>

                <article class="card__article">

                    <div class="card__flag-container" display="hidden">
                        <img src="img/new-product.png" alt="Nuevo ingreso" class="card__flag-new-product" />
                    </div>

                    {{!--   <i class="fa fa-heart-o" aria-hidden="true"></i> --}}
                    <button class="heart-btn"><i class="fa fa-heart-o"></i></button>

                    <div class="card__image-container">
                        <a href="/#/producto/{{this.urlName}}"> <img src="{{this.images.portada}}" alt="Producto" class="card__image" /></a>
                    </div>

                    <div class="card__content">
                        {{#compare this.discountPercent ">=" 1 }}
                            <span class="card__price-currency">$<span class="card__price-value">{{discount this.price this.discountPercent}}</span></span>
                            <span class="card__discount"><span class="card__discount__percent">{{this.discountPercent}}</span>% DTO</span>
                            <span class="card__latest-price-currency">$<span class="card__latest-price">{{this.price}}</span></span>
                        {{else}}
                            <span class="card__price-currency">$<span class="card__price-value">{{this.price}}</span></span>
                            <span class="card__discount hide-elements"><span
                                    class="card__discount__percent hide-elements"
                                >{{this.discountPercent}}</span>% DTO</span>
                            <span class="card__latest-price-currency hide-elements">$<span
                                    class="card__latest-price hide-elements"
                                >{{this.price}}</span></span>
                        {{/compare}}
                        <span class="card__product-brand">{{this.vendor}}</span>
                        <h2 class="card__heading">{{this.productName}}</h2>
                        <p class="card__description">{{this.shortDescription}}</p>
                    </div>
                </article>
            </div>
        {{/compare}}
    {{/listItems}}
{{else}}
    <h2>No se encontraron productos</h2>
{{/if}}