{{#if products}}
    {{#each products}}
        <a href="/#/producto/{{this.urlName}}">
            <div class="card-cart-preview">
                <div class="card-cart-preview__image-container">
                    <img src="{{this.image}}" alt="Producto" class="card-cart-preview__image" />
                </div>
                <div class="card-cart-preview__content">
                    <p class="card-cart-preview__description">{{this.productName}}</p>
                    <p class="card-cart-preview__price">{{this.price}}</p>
                    <p class="card-cart-preview__productStatus">{{this.status}}</p>
                </div>
                <i class="fa fa-trash-o" aria-hidden="true" data-id="{{this.id}}"></i>
            </div>
        </a>
    {{/each}}
{{else}}
    <h2 data-lang="cart-preview-empty-cart">No tenés favoritos.</h2>
    <p>¯\_(ツ)_/¯</p>
{{/if}}