{{#if products}}
    {{#each products}}
        <div class="card-cart-preview">
            <div class="card-cart-preview__image-container">
                <img src="{{this.images.portada}}" alt="Producto" class="card-cart-preview__image" />
            </div>
            {{!--  <input type="hidden" name="ids" id="ids" class="ids" value="{{this.id}}"/> --}}
            <input type="hidden" name="stocks" id="stocks" class="stocks" value="{{this.stock}}" />
            <div class="card-cart-preview__content">
                <p class="card-cart-preview__description">{{this.productName}}</p>
                <div class="qty-selector-container">
                    <i class="fa fa-minus" aria-hidden="true"></i>
                    <input type="text" class="qty-selector-container__qty" value="{{this.qty}}" readonly />
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </div>
            </div>
            <div class="card-cart-preview__price">
                <span class="card-cart-preview__price__price-currency">Precio: $<span class="card-cart-preview__price__price-value">{{discount this.price this.discountPercent}}</span>
                </span>
                <span class="card-cart-preview__price__sub-price-currency">Subtotal: $<span class="card-cart-preview__price__price-subtotal"
                    >{{finalPrice this.price this.discountPercent this.qty}}</span>
                </span>
            </div>
            <i class="fa fa-trash-o" aria-hidden="true" data-id="{{this.id}}"></i>
        </div>
    {{/each}}
{{else}}
    <h2>Tu carrito está vacío</h2>
    <p>¯\_(ツ)_/¯</p> 
{{/if}}