{{#if products}}
    {{#each products}}
        <div class="product-full-page">
            <div class="product-full-page__row">
                <div class="product-full-page__gallery">
                    <div class="img-select">
                        <div class="img-select__img-container">
                            <img class="img-select__avatar" src="{{this.images.portada}}" alt="Product image" />
                        </div>
                        <div class="img-select__img-container">
                            {{#if this.images.galeria0}}
                            <img src="{{this.images.galeria0}}" alt="Product image">
                            {{/if}}
                        </div>
                        <div class="img-select__img-container">
                            {{#if this.images.galeria1}}
                            <img src="{{this.images.galeria1}}" alt="Product image">
                            {{/if}}
                        </div>
                        <div class="img-select__img-container">
                            {{#if this.images.galeria2}}
                            <img src="{{this.images.galeria2}}" alt="Product image">
                            {{/if}}
                        </div>
                    </div>
                    <div class="img-display">
                        <div class="img-display__img-showcase">
                            <img src="{{this.images.portada}}" class="img-display__img-big" alt="Product image" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-full-page__detail">
                <h1 class="product-full-page__heading">{{this.productName}}</h1>
                <h2 class="product-full-page__brand">{{this.vendor}}</h2>
                <p class="product-full-page__description">{{this.shortDescription}}</p>
                <p class="product-full-page__long-description">{{this.longDescription}}</p>
                <p class="product-full-page__age">No apto para menores de
                    <span class="product-full-page__age-number">{{this.ageTo}}</span>
                    <span>años</span>.</p>
                <div class="product-full-page__price-and-discount-order">
                    <span class="product-full-page__price-currency">$<span class="product-full-page__price-value">{{discount
                                this.price
                                this.discountPercent
                            }}</span></span>
                    <span class="product-full-page__discount"><span class="product-full-page__discount-percent">{{this.discountPercent}}</span>% DTO</span>
                </div>
                <span class="product-full-page__latest-price-currency">$<span class="product-full-page__latest-price">{{this.price}}</span></span>
                <span class="product-full-page__stock">Stock
                    <span class="product-full-page__stock-value">{{this.stock}}</span>
                    unidades.</span>
                    
                    <div class="product-full-page__qty-and-buy-container">
                        <div class="product-full-page__qty-selector">
                            <button class="product-full-page__qty-button-minus" disabled>-</button> 
                            <input type="text" class="product-full-page__qty" value="1" readonly >
                            <button class="product-full-page__qty-button-plus">+</button>
                        </div>
                        <a href="#" class="product-full-page__link" data-id="{{this.id}}">Agregar al carrito</a>
                    </div>
            </div>
        </div>
    {{/each}}
{{else}}
    <h2>Error al visualizar el producto.</h2>
{{/if}}