{{#if products.length}}
    <table class="table-products">
        <thead class="table-products__thead">
            <tr class="table-head">
                <th class="table-head__th" scope="column">Imagen</th>
                <th class="table-head__th" scope="column">Nombre</th>
                <th class="table-head__th" scope="column">Descripción</th>
                <th class="table-head__th" scope="column">Stock</th>
                <th class="table-head__th" scope="column">Precio</th>
                <th class="table-head__th" scope="column">Acciones</th>
            </tr>
        </thead>

        <tbody class="table-products__tbody">

            {{#each products}}

                <tr class="table-content" data-id="{{this.id}}">
                    <td class="table-content__cell-image-container"><img class="table-content__image" src="{{this.images.portada}}" alt="Foto de producto"/></td>

                    <td class="table-content__cell-name">{{this.productName}}</td>
                    <td class="table-content__cell-description">{{this.shortDescription}}</td>
                    <td class="table-content__cell-stock">{{this.stock}}</td>
                    <td class="table-content__cell-price-container">$<span class="table-content__cell-price">{{this.price}}</span></td>

                    <td class="cell-img-galeria1 cell-hide" data-galeria0=""></td>
                    <td class="cell-img-galeria2 cell-hide" data-galeria1=""></td>
                    <td class="cell-img-galeria3 cell-hide" data-galeria2=""></td>

                    <td class="cell-long-description cell-hide">{{this.longDescription}}</td>
                    <td class="cell-discount-percent cell-hide">{{this.discountPercent}}</td>
                    <td class="cell-vendor cell-hide" >{{this.vendor}}</td>
                    <td class="cell-category cell-hide">{{this.category}}</td>
                    <td class="cell-free-ship cell-hide">{{this.freeShip}}</td>
                    <td class="cell-age-from cell-hide">{{this.ageFrom}}</td>
                    <td class="cell-age-to cell-hide">{{this.ageTo}}</td>
                    <td class="cell-age-select cell-hide">{{this.ageSelect}}</td>
                    <td class="cell-colors cell-hide">{{this.colors}}</td>

                    <td class="table-content__cell-buttons">
                        <button class="table-content__btn-view  btn-view"><i class="fa fa-eye btn-view" aria-hidden="true"></i></button>
                        <button class="table-content__btn-edit  btn-edit"><i class="fa fa-pencil btn-edit" aria-hidden="true"></i></button>
                        <button class="table-content__btn-delete btn-delete"><i class="fa fa-trash btn-delete" aria-hidden="true"></i></button>
                    </td>
                </tr>
                

            {{/each}}
        </tbody>
        <tfoot class="table-products__tfoot">
            <tr class="table-foot">
                <td class="table-foot_content" colspan="6">Total: {{products.length}} productos</td>
            </tr>
        </tfoot>
    </table>
{{else}}
    <p>No se encontraron productos</p>
{{/if}}