{{#if product}}
    {{#each this}}
        <div class="product-full-view">
            <div class="product-full-view__row">
                <div class="product-full-view__gallery">
                    <div class="img-select">
                        <div class="img-select__img-container">
                            <img class="img-select__avatar" src="{{this.images.portada}}" alt="Product image" />
                        </div>
                        <div class="img-select__img-container">
                            {{!  <img src="../img/products/61+cejJWJkL._cpt_.jpg" alt="Product image"> }}
                        </div>
                        <div class="img-select__img-container">
                            {{!  <img src="../img/products/61Bl1tNZ1HL._cpt_.jpg" alt="Product image"> }}
                        </div>
                        <div class="img-select__img-container">
                            {{!   <img src="../img/products/61ItCf+eWCL._cpt_.jpg" alt="Product image"> }}
                        </div>
                    </div>
                    <div class="img-display">
                        <div class="img-display__img-showcase">
                            <img src="{{this.images.portada}}" class="img-display__img-big" alt="Product image" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-full-view__detail">
                <h1 class="product-full-view__heading">{{this.productName}}</h1>
                <h2 class="product-full-view__brand">{{this.vendor}}</h2>
                <p class="product-full-view__description">{{this.shortDescription}}</p>
                <p class="product-full-view__long-description">{{this.longDescription}}</p>
                <p class="product-full-view__age">No apto para menores de
                    <span class="product-full-view__age-number">{{this.ageTo}}</span>
                    <span>años</span>.</p>
                <div class="product-full-view__price-and-discount-order">
                    <span class="product-full-view__price-currency">$<span class="product-full-view__price-value">{{discount
                                this.price
                                this.discountPercent
                            }}</span></span>
                    <span class="product-full-view__discount"><span class="product-full-view__discount-percent">{{this.discountPercent}}</span>% DTO</span>
                </div>
                <span class="product-full-view__latest-price-currency">$<span class="product-full-view__latest-price">{{this.price}}</span></span>
                <span class="product-full-view__stock">Stock
                    <span class="product-full-view__stock-value">{{this.stock}}</span>
                    unidades.</span>
            </div>
        </div>
    {{/each}}
{{else}}
    <h2>Error al visualizar el producto.</h2>
{{/if}}