{{#if products}}
    {{#each products}}
        <div class="product-full-page">
            <div class="product-full-page__row">
                <div class="product-full-page__gallery">
                    <div class="img-select">
                        {{#each this.images}}
                            <div class="img-select__img-container">
                                <img src="{{this}}" alt="Product image" />
                            </div>
                        {{/each}}
                    </div>
                    <div class="img-display">
                        <div class="img-display__img-showcase">
                            <img src="{{this.images.[0]}}" class="img-display__img-big" alt="Product image" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-full-page__detail">
                <h2 class="product-full-page__brand">{{this.vendor}}</h2>
                <h1 class="product-full-page__heading">{{this.productName}}</h1>
                <p class="product-full-page__description">{{this.shortDescription}}</p>
                <p class="product-full-page__age"> <span data-lang="product-age">Edad recomendada: de</span>  
                    <span class="product-full-page__age-number">{{this.ageFrom}}</span>
                    <span> a </span>
                    <span class="product-full-page__age-number">{{this.ageTo}}</span>
                    <span data-lang="product-age-word">años</span>.</p>
                <div class="product-full-page__price-and-discount-order">
                    <span class="product-full-page__price-currency">$<span class="product-full-page__price-value">{{discount this.price.value this.discountPercent}}</span></span>
                    <span class="product-full-page__discount"><span class="product-full-page__discount-percent">{{this.discountPercent}}</span data-lang="product-discount">% DTO</span>
                </div>
                <span class="product-full-page__latest-price-currency">{{this.price.currency}} $<span class="product-full-page__latest-price">{{this.price.value}}</span></span>
                <span class="product-full-page__stock">Stock
                    <span class="product-full-page__stock-value">{{this.stock}}</span> <span data-lang="product-stock">unidades.</span>
                    </span>

                <div class="product-full-page__qty-and-buy-container">
                    <div class="product-full-page__qty-selector">
                        <button class="product-full-page__qty-button-minus" disabled>-</button>
                        <input type="text" class="product-full-page__qty" value="1" readonly />
                        <button class="product-full-page__qty-button-plus">+</button>
                    </div>
                    <a href="#" class="product-full-page__link" data-id="{{this.id}}" data-lang="product-add-to-cart">Agregar al carrito</a>
                </div>
            </div>
        </div>
        <h2 class="product-full-page__title-description" data-lang="product-product-description" >Descripción</h2>
        <p class="product-full-page__long-description">{{{this.longDescription}}}</p>
    {{/each}}
{{else}}
    <h2 data-lang="product-error-in-product">Error al visualizar el producto.</h2>
{{/if}}