{{#if products}}
    {{#each products}}

        <a href="/#/producto/{{this.urlName}}" class="search-results__link">
            <div class="search-results__card">
                <div class="search-results__img-container">
                    <img class="search-results__img" src="{{this.images.[0]}}" alt="Imagen de producto encontrado" />
                </div>

                <div class="search-results__product-info-content">
                    <span class="search-results__product-brand">{{this.vendor}}</span>
                    <span class="search-results__product-name"> {{this.productName}}</span>
                    <span class="search-results__product-price"><span>{{this.price.currency}} $</span><span>{{discount this.price.value this.discountPercent}}</span></span>
                </div>
            </div>
        </a>

    {{/each}}
{{else}}
    <h2>Tu búsqueda no coincide con ningún producto.</h2>
{{/if}}